<template>
  <v-layout row wrap>
    <v-card flat >

      <v-card-title primary-title >
        <div class="display-4">
          {{title}}
        </div>
        <div class="">
          <v-chip small>{{date}}</v-chip>
          <span class="font-weight-bold">{{authName}}</span>
        </div>
      </v-card-title>



      <v-card-text v-if="isFetching">
        <v-flex d-flex>
          <v-progress-circular indeterminate/>
        </v-flex>
      </v-card-text>
      <v-card-text v-else v-html="compiled" class="text-xs-justify"/>

      <v-card-actions>
        <v-chip
          v-for="(has, tag) in tags"
          :key="tags.id"
          v-if="has"
          small label outline
        >
          <v-icon left>label</v-icon>{{tag}}
        </v-chip>
      </v-card-actions>
    </v-card>
  </v-layout>
</template>

<script>
import {mapState} from 'vuex'
import marked from 'marked'
// import {renderer} from '@/assets/marked/index'
import muetify from 'muetify'
import moment from 'moment'

export default {
  name: 'Post',
  props: {
    authors: Object,
    tags: Object,
    timestamp: Object,
    title: String,
    id: String,
  },
  computed: {
    ...mapState('blogPosts', {
      post: state => state.slugPost,
      text: state => state.slugText,
      author: state => state.slugAuthorProfile,
      isFetching: state => state.slugFetch,
    }),
    compiled() {
      if (!this.text) return
      return marked(this.text.text, {sanitize: true, renderer:muetify.renderer})
    },
    date() {
      return moment.utc(this.timestamp.seconds*1000).format("MMMM Do YYYY, h:mm a")
      // return new Date(0,0,0,0,0,)
    },
    authName() {
      if (this.author) return this.author.displayName
      return
    }
  },
  mounted() {
    // this.$store.dispatch(`blogPosts/fetchDocument`,  {id: this.id})
  }
}
</script>

<style>
</style>
