<template>
  <v-menu offset-y>
    <template v-slot:activator="{ on }">
      {{username}}
      <v-avatar v-on="on">
        <v-icon class="accent--text">account_circle</v-icon>
      </v-avatar>
    </template>

    <v-list>
      <v-list-tile v-for="item in items" :key="item.key" @click="$router.push(item.route)">
        <v-list-tile-title>{{ item.text }}</v-list-tile-title>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>

<script>

import firebase from 'firebase/app';
import {mapState, createNamespacedHelpers} from 'vuex'
const fb = createNamespacedHelpers('firebase')

export default {
  name: 'UserAvatar',
  computed: {
    ...fb.mapState(['user', 'profile']),
    ...fb.mapGetters(['isAuthenticated']),
    items() {
      return this.isAuthenticated ? this.itemsLoggedIn : this.itemsLoggedOut
    },
    itemsLoggedIn() {
      return [
        {text: 'signout', route: '/user/signout'},
        {text: 'profile', route: '/user/profile'},
      ]
    },
    itemsLoggedOut() {
      return [
        {text: 'signup', route: '/user/signup'},
        {text: 'signin', route: '/user/signin'},
      ]
    },
    username() {
      return this.profile ? this.profile.displayName : ''
    }
  }
}
</script>

<style>
</style>
