<template>
  <div class="obcard"
  >
    <div class="obcard__body">
      <div class="obcard__twin">
        <div class="">
          {{name}}
        </div>
        <div class="">
          {{mana}}
        </div>
      </div>
      <img src="" alt="IMAGE">
      <div class="obcard__twin">
        <div class="">
          {{type}}
        </div>
        <div class="">
          {{subtype}}
        </div>
      </div>
      <div class="">
        <div class="">
          {{text}}
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  data: () => ({
    name: 'USERNAME',
    mana: '0',
    type: 'Oath Breaker',
    subtype: 'USER',
    text: 'about me'
  }),
  computed: {
    aspectRatio() {
      return this.cardHeight / this.cardWidth
    },
    cardWidth() {
      return 1250
    },
    cardHeight() {
      return 1750
    },
    imageWidth() {
      return 1058
    },
    imageHeight() {
      return 776
    },
    textWidth() {
      return 1077
    },
    textHeight() {
      return 502
    }
  }
}
</script>

<style>
.obcard {
  background-color: RGBA(0, 0, 0, 1.00);
  padding: 10px;
  border-radius: 10px;
}

.obcard__body {
  background-color: RGBA(255, 255, 255, 1.00);
  border-radius: 10px;
  padding: 10px;

}
.obcard__twin {
  display: flex;
  justify-content: space-between;
}
</style>
