<template>
  <div>
    <v-progress-circular v-if="!id" indeterminate />
    <span v-else>{{name}}</span>
  </div>

</template>

<script>
import {mapState} from 'vuex'
export default {
  props: { id: String },
  mounted() {
    if (this.id) {
      this.$store.dispatch('blogPosts/fetchAuthorProfile', this.id)
    }
  },
  computed: {
    profile() {
      return this.$store.state.blogPosts.userProfiles[this.id]
    },
    name() {
      return this.profile
        ? this.profile.displayName
        : null
    }
  }
}
</script>

<style>
</style>
