<template>
  <v-layout row wrap>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
        <v-card-title primary-title class='headline'>
          Profile
        </v-card-title>

        <v-card-text>
          <v-text-field
            label="username"
            v-model="uname"
            :disabled="!editing"
          />
          <v-text-field
            label="email"
            v-model="email"
            disabled
          />
        </v-card-text>



      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import {mapState, createNamespacedHelpers} from 'vuex'
const fb = createNamespacedHelpers('firebase')


export default {
  components: {},
  data: () => ({
    editing: false
  }),
  computed: {
    ...fb.mapState([
      'user', 'profile'
    ]),
    uname() {
      return this.profile ? this.profile.displayName : ''
    },
    email() {
      return this.profile ? this.profile.email : ''

    }
  }
}
</script>

<style>
</style>
