<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-card flat >

        <v-card-title primary-title class="text-truncate">
          <div class="display-4 ">
            {{title}}
          </div>
        </v-card-title>
        <v-card-text class="pt-0">
          <v-layout row wrap align-center>
            <span class="font-weight-bold">{{authorName}}</span>
            <v-spacer/>
            <ReadingTime
              :loading="fetching"
              :text="slugTextDoc"
              :progressOptions="{width: 2, size: 20}"
            />
          </v-layout>
          <v-divider/>
          <v-layout row wrap align-center>
            <v-spacer/>
            <v-chip small>{{date}}</v-chip>
          </v-layout>
        </v-card-text>


        <v-card-text v-if=" true || fetching">
          <v-flex d-flex>
            <v-progress-circular indeterminate/>
          </v-flex>
        </v-card-text>
        <v-card-text v-else v-html="compiled" class="text-xs-justify"/>

        <v-card-actions>
          <v-chip
            v-for="(has, tag) in tags"
            :key="tags.id"
            v-if="has"
            small label outline
          >
            <v-icon left>label</v-icon>{{tag}}
          </v-chip>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import initFB from '@/plugins/firebase.init.js'
initFB()
import {mapState} from 'vuex'
import moment from 'moment'
import {ReadingTime} from 'fsmd'


export default {
  components: {
    ReadingTime
  },
  computed: {
    ...mapState('fsmd', {
      slugArticle: state => state.slugArticle,
      slugTextDoc: state => state.slugTextDoc,
      slugAuthors: state => state.slugAuthors,
      fetching: state => state.fetching
    }),
    date() {
      if (this.slugArticle)
      return moment.utc(this.slugArticle.timestamp.seconds*1000)
                   .format("MMMM Do YYYY, h:mm a")
    },
    title() {
      if (!this.slugArticle) return
      return this.slugArticle.title
    },
    tags() {
      if (!this.slugArticle) return
      return this.slugArticle.tags
    },
    authorName() {
      if (this.slugAuthors) return this.slugAuthors.displayName
      return
    },
  },
  mounted() {
    let slug = this.$route.params.slug
    this.$store.dispatch('fsmd/fetchSlugArticle', slug)
  },
  async asyncData() {
    await initFB()
    return {}
  }
}
</script>

<style>
</style>
