<template>
  <v-layout row wrap>
    <v-card-text v-if="fetching || !pageIds">
      <v-flex d-flex>
        <v-progress-circular indeterminate/>
      </v-flex>
    </v-card-text>

    <v-flex xs12 v-else v-for="post in posts" :key="post.id">
      <v-card :to="`/blog/posts/${post.slug}`">
        <v-card-title primary-title class="py-2 title">
          {{post.title}}
        </v-card-title>
        <v-card-text  class="py-1">
          <v-layout row wrap align-center>
            <UserName :id="authors(post)[0]"/>
            <v-spacer/>
            <v-chip
              label small
              v-for="tag in tags(post)"
              :key="tag.id"
            >{{tag}}</v-chip>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import {mapState} from 'vuex'
import UserName from '@/components/user/UserName'
import marked from 'marked'
export default {
  components: {
    UserName
  },
  mounted () {
    this.$store.dispatch('fsmd/fetchPage')
  },
  methods: {
    authors(post) {
      return Object.keys(post.authors)
    },
    tags(post) {
      return Object.keys(post.tags)
    }
  },
  computed: {
    ...mapState('fsmd', {
      pageIds: state=>state.pageIds,
      fetching: state => state.fetching,
    }),
    posts() {
      if (!this.pageIds) return
      return this.pageIds.forEach(id=>{
        return this.$store.state.fsmd.articles[id]
      })
    },
  },
}
</script>

<style>
</style>
