<template>
  <v-app >
    <v-navigation-drawer v-model="drawer" app clipped class="mh">
      <v-list>

        <v-list-group
          v-for="(collection, group) in drawerItems"
          :key="group.id"
          :value="collection.open"
          no-action
          sub-group
        >
          <template v-slot:activator>
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title>{{group}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>

          <v-list-tile
            v-for="item in collection.items"
            :key="item.text"
            @click="$router.push(item.link)"
          >
            <v-list-tile-action>
              <v-icon :class="active == item.link ? 'accent--text': ''">{{ item.icon }}</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>{{ item.text }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar app clipped-left color="primary accent--text">
      <v-toolbar-side-icon color="accent--text" @click="drawer = !drawer" />
      <v-toolbar-title @click="$router.push('/')">fsmd-nuxt</v-toolbar-title>
      <v-spacer />
      <UserAvatar />
    </v-toolbar>





    <v-content>
      <v-container fill-height>
        <nuxt/>
      </v-container>
    </v-content>

    <v-footer app absolute height="auto">
      <v-card class="flex" tile color="secondary white--text">

      </v-card>
    </v-footer>
  </v-app>
</template>

<script>
import UserAvatar from '@/components/user/UserAvatar'
import { mapState, mapGetters } from 'vuex'

export default {
  mixins: [
  ],
  mounted() {


  },
  components: {
    UserAvatar
  },
  data: ()=> ({
    drawer: false,
  }),
  computed: {
    ...mapGetters(['']),
    ...mapState(['']),
    drawerItems() {
      return {
        Blog: {
            items: [
              {
                text: 'Posts' ,
                icon: 'chat',
                link: '/blog/posts'
              },
            ],
            open: true,
        },
      }
    },
    active() {
      return this.$route.path
    }
  },
  methods: {

  }
}
</script>


<style>
.mh {
  max-height: none !important
}

.sticky {
  position: sticky;
  top: 48px;
  z-index: 10;
}





.quicksand {
  font-family: 'Quicksand', sans-serif !important;
}
.comfortaa {
  font-family: 'Comfortaa', cursive !important;
}

.ob-black {
  color: RGBA(33, 33, 33, 1.00) !important;
}

.ob-orange {
  color: RGBA(194, 53, 0, 1.00) !important;
}

.text-justify {
  text-align: justify !important;
}

.subcaption {
  font-size: 8px;
}
</style>
